@model RRRRCoreMVC.Models.UserInfo

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <div class="form-group">
                  
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="Please enter the User Name...."/>
                <span>@TempData["Email"]</span>
                  <br />

                <span asp-validation-for="UserName" class="text-danger"></span>
              
            </div>
            <div class="form-group">
                
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Please enter the password ***" />
                 <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>

                 <span>@TempData["wrong"]</span>
                <br />

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />

                 <a asp-action="SignUp" align="right" class="btn btn-success">Register new user</a>
            </div>
           
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
